
ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;  
             background-color: #090909ab;
             position: fixed;
             bottom:0;
             width: 100%;
        }
    
        li {
            float:left;
            border-right: 5px solid#bbb;
        }
        li:last-child {
            border-right:none;
        }
        li a {
            display: block;
            color: white;
            text-align: center;
            padding:14px 16px;
            text-decoration: none       
        }
        li a:hover {
            background-color:rgb(255,0,0);
        }
         .active {
            background-color: rgb(37, 16, 196);
         }
        